{% extends "core/template.html" %} {% load humanize %}{% load static %} {% block content %}
<div class="container-fluid d-flex contenedor-carrito">
  <img src="{% static 'core/img/chanchito(1).png' %}" width="20%" />
  <div class="card" style="width: fit-content">
    <div class="card-body">
      <h4>Carrito de compras</h4>
      <table class="tabla-carrito">
        <thead>
          <tr>
            <th>Chanchi-Productos</th>
            <th>Chanchi-Cantidad</th>
            <th>Chanchi-precio</th>
            <th>Chanchi-total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{item.producto.nombre}}</td>
            <td>
              <a
                class="update-cart text-decoration-none color-primary"
                style="cursor: pointer"
                data-product="{{item.producto.id}}"
                data-action="remove"
                >-</a
              >
              {{item.cantidad_productos}}
              <a
                class="update-cart text-decoration-none color-primary"
                style="cursor: pointer"
                data-product="{{item.producto.id}}"
                data-action="add"
                >+</a
              >
            </td>
            <td>${{item.producto.valor|intcomma}}</td>
            <td>${{item.get_total|intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="./checkOut.html" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
{% endblock content %}
