
{% extends "core/template_admin.html" %} {% load static %} 
{% load humanize %}
{% block sources  %}
<script>
  const id = "{{boleta.id}}";
  function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");
</script>
<script src="{%static 'core/js/envio.js'%}""></script>
{% endblock sources  %}
{% block content %}
<div class="container mt-5 content row" id="admin-contenido">
  <div class="col-md-7 col-sm-12 d-flex flex-column">
    {% for item in productos %}
    <div class="card border-0 mb-3 row">
        <img class="col-md-4 img-fluid rounded-start" src="{{item.producto.get_image_url}}" alt="{{item.producto.nombre}}">
      <div class="card-body col-md-8">
        <h5 class="card-title">{{item.producto.nombre}}</h5>
        <p class="card-text">Chanchi-productos : {{item.cantidad_productos}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Chanchi-Total : ${{item.get_total|intcomma}}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-5">
    <div class="card border-0">
        <p>Chanchi-id: <small>{{boleta.id}}</small></p>
        <p>Chanchi-fecha: {{boleta.fechaVenta}}</p>
        <p>Chanchi-Cliente: {{boleta.cliente.nombre}}</p>
        <p>Chanchi-total: ${{boleta.get_envio|intcomma}}</p>
        <p>Chanchi-estado: 
          <select name="delivery" id="delivery">{% for value, label in estados %} <option 
            {% if boleta.envio.estado == value %}selected{% endif %}
            value='{{value}}'>{{label}}</option>
            {% endfor %}
          </select>
      </p>
      <p class="text-danger" id="statusError" style="display: none;">Ocurrio un error al actualizar el pedido</p>
        <p>Chanchi-direccion : {{boleta.envio.get_direccion}}</p>
    </div>
  </div>
</div>
{% endblock content %}
