{% extends "core/template.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <img src="{%static 'core/img/chanchito(1).png'%}" alt="No ta" width="40%" />
      <span class="kru-bordes">
        <p class="palabras texto-chanchito">
          Bienvenido a ChanchitoMagico.com, tu destino en línea para descubrir
          la auténtica artesanía de Pomaire, Santiago, Chile. Explora nuestra
          selección de productos únicos hechos de greda, cada uno elaborado
          por artesanos locales con pasión y habilidad. Desde vajillas hasta
          figuras decorativas, cada artículo cuenta una historia arraigada en
          la tradición y la cultura de Pomaire. Únete a nosotros en nuestro
          viaje para celebrar la belleza y la autenticidad de esta encantadora
          comuna a través del arte de la greda. ¡Gracias por apoyar a los
          artesanos locales y por ayudarnos a difundir la rica herencia de
          Pomaire en todo el mundo!
        </p>
      </span>
    </div>
  </div>
{% endblock content %}
 