{% extends "core/template.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-row justify-content-center flex-wrap contenedor">
    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div
          id="carouselExampleInterval"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="{% static 'core/img/chanchito(1).png' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="{% static 'core/img/Chanchito-weon.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'core/img/instagram-chanchitodelasuerte.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chanchito-Antidepresion informatico</h4>
        <p class="card-text">
          Este chanchito magico quita la depresion como toro y sin tomar
          pastillas
        </p>
        <p>$50.000 bella</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>
    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div id="pailitas" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="{% static 'core/img/paila1.jpg' %}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="{% static 'core/img/paila2.jpeg' %}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'core/img/paila3.jpg' %}" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#pailitas"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#pailitas"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Paila de greda pal huevito</h4>
        <p class="card-text">
          Esta paila culeada es magica, te aliña el huevito solo y te queda
          fachero y ademas no le gusta cambiar de color el botton
        </p>
        <p>$40.000 sin envio incluido</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>

    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div id="chanchitos2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="{% static 'core/img/chanchito(1).png' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="{% static 'core/img/Chanchito-weon.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'core/img/instagram-chanchitodelasuerte.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#chanchitos2"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#chanchitos2"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chanchito-Antidepresion informatico</h4>
        <p class="card-text">
          Este chanchito magico quita la depresion como toro y sin tomar
          pastillas
        </p>
        <p>$30.000 embrujo incluido</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>
    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div id="chanchitos3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="{% static 'core/img/chanchito(1).png' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="{% static 'core/img/Chanchito-weon.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'core/img/instagram-chanchitodelasuerte.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#chanchitos3"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#chanchitos3"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chanchito-Antidepresion informatico</h4>
        <p class="card-text">
          Este chanchito magico quita la depresion como toro y sin tomar
          pastillas
        </p>
        <p>$30.000 embrujo incluido</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>
    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div id="chanchitos4" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="{% static 'core/img/chanchito(1).png' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="{% static 'core/img/Chanchito-weon.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'core/img/instagram-chanchitodelasuerte.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#chanchitos4"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#chanchitos4"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chanchito Autista</h4>
        <p class="card-text">
          Este chanchito magico es inmortal en el valorant y no sigue ninguna
          de las reglas que hay en este diseño (Por temas de nota, tuvo que
          obedecer no más) Le gusta el manjarate
        </p>
        <p>$100.000 crisis incluida</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>
    <div class="card" style="width: 300px; height: 600px">
      <div class="card-img-top">
        <div id="chanchitos5" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="{% static 'core/img/chanchito-argentino.jpeg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="{% static 'core/img/Chanchito-weon.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'core/img/instagram-chanchitodelasuerte.jpg' %}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev text-black"
            type="button"
            data-bs-target="#chanchitos5"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next text-black"
            type="button"
            data-bs-target="#chanchitos5"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon text-black"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chanchito de Boca</h4>
        <p class="card-text">
          Este chanchito magico le gusta el mate boludo, le molesta una banda
          los impuestos y se quiere cagar a piñas con la mitad de
          latinoamerica
          <strong>Disclaimer: si pones plata aqui se puede perder</strong>
        </p>
        <p>2 dolares</p>
        <a href="./checkOut.html" class="btn btn-primary boton-compra"
          >Comprar</a
        >
        <a href="./carrito.html" class="btn btn-primary boton-carrito"
          >Añadir al carrito</a
        >
      </div>
    </div>
  </div>
{% endblock content %}
