{% extends "core/template.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="d-flex flex-row justify-content-center flex-wrap contenedor">
  {% for producto in productos %}
  <div class="card" style="width: 300px; height: 600px">
      <img src="{{producto.image.url}}" alt="{{producto.nombre}}" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{producto.nombre}}</h4>
      <p class="card-text">
        {{producto.descripcion}}
      </p>
      <p>${{producto.valor | intcomma}}</p>
      <a href="./checkOut.html" class="btn btn-primary boton-compra"
        >Comprar</a
      >
<button type="button" class="btn btn-primary boton-carrito update-cart" data-product="{{producto.id}}" data-action='add'>Agregar al chanchi-carrito</button>
    </div>
  </div>

  {% endfor %}
  </div>
{% endblock content %}
